# Dart und Flutter spezifisch
.dart_tool/
.packages
build/
pubspec.lock

# Generierte Dateien
*.g.dart
*.freezed.dart

# IDE-spezifische Dateien
.idea/
.vscode/
*.iml

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db
llms-*.txt
